@charset "utf-8";
/* CSS Document */
.infinative *, .infinative *:after, .infinative *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
button, input, select, textarea {
	font-family: sans-serif;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

.input-wrap.select select, .input-wrap.textarea select, .input-wrap.select textarea, .input-wrap.textarea textarea {border:1px #d9d9d9 solid; width:100%; padding:5px;}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
cursor: pointer;
}

select {border:1px solid; white-space:pre; color:black; cursor:default;}

.infinative .boxes div {position:relative; float:left; font-weight:300; font-size:11pt; letter-spacing:0.02em;}
.infinative span.desc {font-size:85%; margin:0px; float:left; clear:left; opacity:.8;}
.infinative .input-row {margin-right:0px; margin-bottom:20px; position:relative;}
.infinative .input-wrap > .box-wrap {height:100%; float:left; margin-bottom:0px!important;}
.infinative .input-wrap .box-wrap:last-child {margin-right:0px!important;}

.infinative .input-row > label, .infinative .input-wrap > label {float:left; clear:both; margin-bottom:4px; width:100%; display:block; max-height:35px; position:relative;}
.infinative .input-wrap label span.name {margin-right:15px; float:left; min-width:60%; min-height:17px; max-width:100%; max-height:20px;}
.infinative .input-wrap label span.name strong {float:left;}
.infinative .input-wrap label span.desc {margin-right:15px; float:left; min-width:60%; min-height:15px; max-width:100%; max-height:15px;}
.infinative .input-wrap label span.desc span {float:left;}
.infinative .input-wrap.halved label span.name {display:none;}
.infinative .input-wrap label > .pat-desc {top:100%!important; left:100%!important; min-height:0px!important; min-width:0px!important; margin:-13px 0 0 -32px; width:32px!important; height:13px!important; background-size:96% auto; background-position:center; opacity:.8; position:absolute;}

.infinative .input-row > .input-wrap {margin-right:20px;}
.infinative .input-row > .input-wrap:last-child {margin-right:0px;}
.infinative .input-wrap.textarea {width:780px; margin-right:0px;}
.infinative .no-margin-btm {margin-bottom:0px!important;}

.infinative .input-wrap > input[type=text], .infinative .input-wrap > input[type=date], .infinative .input-wrap > input[type=datetime], .infinative .input-wrap > input[type=email], .infinative .input-wrap > input[type=url], .infinative .input-wrap > input[type=phone], .infinative .input-wrap > input[type=tel], .infinative .input-wrap > input[type=password], .infinative .input-wrap > input[type=number], .infinative .input-wrap > input[type=time], .infinative .input-wrap > select, .infinative .input-wrap > textarea {
	width: 100%;
	padding: 4px 6px 6px 8px;
	background-color: rgb(249, 249, 249);
	outline: 0;
	margin-right: 32px;
	min-height: 33px;
	position: relative;
	float:left;
	-webkit-user-select:text!important;
	color:#101010!important;
}

.infinative .input-row .input-wrap > input[type=text], .infinative .input-row .input-wrap > input[type=date], .infinative .input-row .input-wrap > input[type=datetime], .infinative .input-row .input-wrap > input[type=email], .infinative .input-row .input-wrap > input[type=url], .infinative .input-row .input-wrap > input[type=phone], .infinative .input-row .input-wrap > input[type=tel], .infinative .input-row .input-wrap > input[type=password], .infinative .input-row .input-wrap > input[type=number], .infinative .input-row .input-wrap > input[type=time], .infinative .input-row .input-wrap > select, .infinative .input-row .input-wrap > textarea, .infinative .input-wrap > .box-wrap > input[type=text], .infinative .input-wrap > .box-wrap > input[type=date], .infinative .input-wrap > .box-wrap > input[type=datetime], .infinative .input-wrap > .box-wrap > input[type=email], .infinative .input-wrap > .box-wrap > input[type=url], .infinative .input-wrap > .box-wrap > input[type=phone], .infinative .input-wrap > .box-wrap > input[type=tel], .infinative .input-wrap > .box-wrap > input[type=password], .infinative .input-wrap > .box-wrap > input[type=number], .infinative .input-wrap > .box-wrap > input[type=time], .infinative .input-wrap > .box-wrap > select, .infinative .input-wrap > .box-wrap > textarea {
	width: 100%;
	padding: 4px 6px 6px 8px;
	background-color: #fff;
	outline: 0;
	margin-right: 32px;
	min-height: 36px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}

.infinative .input-row .input-wrap > textarea {
	padding-right: 5px;
	min-height: 100px;
}

.infinative .input-row .input-wrap > input[type=text]:focus,
.infinative .input-row .input-wrap > input[type=email]:focus,
.infinative .input-row .input-wrap > input[type=url]:focus,
.infinative .input-row .input-wrap > input[type=tel]:focus,
.infinative .input-row .input-wrap > input[type=phone]:focus,
.infinative .input-row .input-wrap > input[type=password]:focus,
.infinative .input-row .input-wrap > input[type=number]:focus,
.infinative .input-row .input-wrap > input[type=time]:focus,
.infinative .input-row .input-wrap > input[type=date]:focus,
.infinative .input-row .input-wrap > input[type=datetime]:focus,
.infinative .input-row .input-wrap > select:focus,
.infinative .input-row .input-wrap > textarea:focus,
.infinative .input-wrap .box-wrap > input[type=text]:focus,
.infinative .input-wrap .box-wrap > input[type=email]:focus,
.infinative .input-wrap .box-wrap > input[type=url]:focus,
.infinative .input-wrap .box-wrap > input[type=tel]:focus,
.infinative .input-wrap .box-wrap > input[type=phone]:focus,
.infinative .input-wrap .box-wrap > input[type=password]:focus,
.infinative .input-wrap .box-wrap > input[type=number]:focus,
.infinative .input-wrap .box-wrap > input[type=time]:focus,
.infinative .input-wrap .box-wrap > input[type=date]:focus,
.infinative .input-wrap .box-wrap > input[type=datetime]:focus,
.infinative .input-wrap .box-wrap > select:focus,
.infinative .input-wrap .box-wrap > textarea:focus {
  outline:solid #FFF 1px;
}

.infinative input[type="checkbox"], .infinative input[type="radio"] {box-sizing:border-box; padding:0; cursor:pointer;}
.infinative label.radio, .infinative label.checkbox {display:block; float:left; margin-bottom:8px;}
.infinative label.radio span, .infinative label.checkbox span {margin-right:10px;}
.infinative .input-wrap.radio, .infinative .input-wrap.checkbox {
	display: inline-block;
	margin:7px 7px 0px 0px;
	cursor: pointer;
	float:left;
	width:auto;
	height:20px;
}
.input-wrap.radio > input[type=radio], .input-wrap.checkbox > input[type=checkbox] {position:absolute; opacity:0; cursor:pointer;}
.infinative .input-wrap.radio .helper, .infinative .input-wrap.checkbox .helper {
	padding-left:23px; 
	position:relative;
	height:20px;
	float:left;
	vertical-align:middle;
	line-height:20px;
	cursor: pointer;
}
.infinative .input-wrap.radio .helper:before, .infinative .input-wrap.checkbox .helper:before {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	content: "";
	text-indent: -9999px;
	border: 2px #d9d9d9 solid;
	z-index: 1;
	opacity: 1;
	top: 0;
	left: 0;
	border-radius: 100%;
	cursor:pointer;
}
.infinative .input-wrap.radio input[type="radio"]:checked ~ .helper:after, .infinative .input-wrap.checkbox input[type="checkbox"]:checked ~ .helper:after {
	position: absolute;
	display: block;
	content: "";
	color: #FFF;
	z-index: 2;
	font-size: 16px;
	font-weight: bold;
	left: 5px;
	margin-left: 0;
	top: 50%;
	margin-top: -5px;
	background-color: #FFF;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.infinative .input-wrap.checkbox {margin-right:28px; margin-bottom:8px; width:auto; height:28px;}
.infinative .input-wrap.checkbox .helper {padding-left:33px; padding-right:8px; height:28px; line-height:28px; font-size:16px; font-weight:500; color:#AAA; opacity:0.8;}
.infinative .input-wrap.checkbox .helper:before {height:28px; width:28px; content:""; text-indent:-9999px; border:3px #d9d9d9 solid; margin-top:1px;}
.infinative .input-wrap.radio.check input[type="radio"]:checked ~ .helper:after, .infinative .input-wrap.checkbox.check input[type="checkbox"]:checked ~ .helper:after {position:absolute; content:"\e08a"; margin:2px; top:0; font-family:ifont; background-color:transparent; width:22px; height:22px; left:5px; font-size:14px;}
.infinative .input-wrap.radio.check input[type="radio"]:checked ~ .helper, .infinative .input-wrap.checkbox.check input[type="checkbox"]:checked ~ .helper {font-weight:500; color:#FFF; opacity:1;}

.infinative input[type=button], .infinative input[type=reset], .infinative input[type=submit] {
	font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 9pt;
	font-smooth: always;
	line-height: 11pt;
	font-size: 14px;
	padding: 4px 22px!important;
	line-height: 20px;
	vertical-align: middle !important;
	min-width: 90px;
	min-height: 32px;
	height: 32px;
	background-color: #ccc;
	border: 1px transparent solid;
	color: #353535;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 4px 10px;
	position: relative;
	outline: none;
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing:content-box;
	float:left;
}

.infinative input[type=submit].settle {width:100%; height:100%; min-height:100%; max-height:100%; margin:0px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

.infinative .input-row > .input-wrap > input[type=button], .infinative .input-row > .input-wrap > .box-wrap input[type=button] {height:36px; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; margin-bottom:0px;}
.infinative .input-row > .input-wrap > .box-wrap.icon input[type=button] {min-width:100%; opacity:0; padding:0px!important;}
.infinative .row input[type=button]:last-child, .infinative .row input[type=reset]:last-child, .infinative .row input[type=submit]:last-child {margin-right:0px;}
.infinative .input-row > .input-wrap > .box-wrap.icon {background-repeat:no-repeat; background-size:contain; background-position:center; float:left;}
.infinative .input-row > .input-wrap > .box-wrap.icon.x-close {height:36px;}

.infinative .input-row > input[type=submit] {margin-bottom:0px;}

.infinative input[type=button]:hover, .infinative input[type=reset]:hover, .infinative input[type=submit]:hover { outline:solid 1px #fff;}
.infinative input[type=submit] {background-color: #008287; color: #fff;}

#ui-datepicker-div {z-index:10!important;}

/***** GRID & SPANS *****/
.infinative .column-padding {
  margin: 0 10px;
}
.infinative .group-padding {
  margin: 0 40px;
}
.infinative .span1 {
  width: 60px;
}
.infinative .span2 {
  width: 150px;
}
.infinative .span3 {
  width: 230px;
}
.infinative .span4 {
  width: 310px;
}
.infinative .span5 {
  width: 390px;
}
.infinative .span6 {
  width: 470px;
}
.infinative .span7 {
  width: 550px;
}
.infinative .span8 {
  width: 630px;
}
.infinative .span9 {
  width: 710px;
}
.infinative .span10 {
  width: 790px;
}
.infinative .span11 {
  width: 870px;
}
.infinative .span12 {
  width: 950px;
}
.infinative .offset1 {
  margin-left: 80px!important;
}
.infinative .offset2 {
  margin-left: 160px!important;
}
.infinative .offset3 {
  margin-left: 240px!important;
}
.infinative .offset4 {
  margin-left: 320px!important;
}
.infinative .offset5 {
  margin-left: 400px!important;
}
.infinative .offset6 {
  margin-left: 480px!important;
}
.infinative .offset7 {
  margin-left: 560px!important;
}
.infinative .offset8 {
  margin-left: 640px!important;
}
.infinative .offset9 {
  margin-left: 720px!important;
}
.infinative .offset10 {
  margin-left: 800px!important;
}
.infinative .offset11 {
  margin-left: 880px!important;
}
.infinative .offset12 {
  margin-left: 960px!important;
}
.infinative [class*="span"] {
  float: left;
  min-height: 1px;
  margin-right: 10px;
  margin-bottom: 5px;
  *zoom: 1;
}
.infinative [class*="span"]:before,
.infinative [class*="span"]:after {
  display: table;
  content: "";
}
.infinative [class*="span"]:after {
  clear: both;
}
.infinative [class*="span"]:last-child {
  margin-right: 0;
}
.infinative [class*="span"] > img {
  max-width: 100%;
  height: auto;
}
.infinative .grid {
  margin: 0 0 10px;
  display: block;
  height: auto;
  width: 100%;
  *zoom: 1;
}
.infinative .grid.no-margin {
  margin: 0;
}
.infinative .grid.margin-row {
  margin-bottom: 5px;
}
.infinative .grid .grid {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.infinative .grid .group {
  margin-right: 80px;
  float: left;
  width: auto;
  height: auto;
  min-height: 1px;
}
.infinative .grid .input-row {width:100%; *zoom:1; margin-bottom:15px; height:auto;}
.infinative .grid .input-row:before,
.infinative .grid .input-row:after {display:table; content:"";}
.infinative .grid .input-row:after {
  clear: both;
}
.infinative .grid .input-row [class*="span"] {
  float: left;
  position:relative;
}
.infinative .grid.element-border [class*="span"] {
  border: 1px #ccc dotted;
}
.infinative .grid:before,
.infinative .grid:after {
  display: table;
  content: "";
}
.infinative .grid:after {
  clear: both;
}
.infinative .grid > .input-row::before,
.infinative .grid > .input-row::after {
  content: normal;
}
.infinative td[class*="span"],
.infinative th[class*="span"] {
  display: table-cell !important;
  float: none !important;
  padding: 0 !important;
}
.infinative .hero-unit {
  position: relative;
  margin: 0 0 10px;
  padding: 20px;
  background-color: #f1f1f1;
  width: 100%;
  *zoom: 1;
}
.infinative .hero-unit:before,
.infinative .hero-unit:after {
  display: table;
  content: "";
}
.infinative .hero-unit:after {
  clear: both;
}
.infinative .dropdown-menu {
  position: absolute;
  background-color: #fff;
  margin-left: 0;
  list-style: none;
  top: 100%;
  z-index: 11010;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0;
  display: none;
}
.infinative .dropdown-menu.place-right {
  right: 0;
  left: auto;
}
.infinative .dropdown-menu a {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  letter-spacing: 0.01em;
  line-height: 13pt;
  font-smooth: always;
  color: #000000;
  display: block;
  width: 100%;
  padding: 3px 20px;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
}
.infinative .dropdown-menu a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.infinative .dropdown-menu a:active {
  color: rgba(0, 0, 0, 0.4);
}
.infinative .dropdown-menu a:hover {
  background-color: #2d89ef !important;
  color: #ffffff !important;
}
.infinative .dropdown-menu li {
  display: list-item;
  line-height: 20px;
}
.infinative .dropdown-menu .divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
}
.infinative .dropdown-menu.open {
  display: block !important;
}

.infinative .input-wrap .wp-editor-wrap, .infinative .input-wrap .wp-editor-container {float:left; width:100%;}

/*** TABLE LAYOUT ***/
.infinative table {border-collapse:collapse; border-spacing:2px; border-color:gray; font-size:14px;}
.infinative tbody {display:table-row-group; border-color:inheret;}
.infinative th {font-weight:bold; font-size:15px; padding:9px 7px; color:#fff; background-color:#101010; border:1px solid #101010; vertical-align:top; text-align:left;}
.infinative td, .infinative th {display:table-cell; vertical-align:middle;}
.infinative tr {display:table-row; vertical-align:middle; border-color:inherit; max-height:24px!important;}
.infinative table tr:nth-child(odd) {background-color:#f1f1f1;}
.infinative table tr:nth-child(even) {background-color:#fff;}
.infinative table td {border:1px solid #d4d4d4; padding:8px 7px; vertical-align:top; color:#404040;}
.infinative table td.icon {background-position:center; cursor:pointer;}

/* DISABLED */
.infinative .boxes textarea:disabled, .infinative .boxes input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, select:disabled {background-color:#AAA!important; border:1px #EEE solid!important; color:#101010!important; opacity:.2;}
.infinative .input-wrap input[type="checkbox"]:disabled ~ .helper, .infinative .input-wrap input[type="radio"]:disabled ~ .helper {opacity:.2;}