@charset "utf-8"; /* CSS Document */

/*** GLOBALS ***/
.newera .page {position:relative; height:100%; min-height:100%; width:100%;}
.newera body, .newera p, .newera div { font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight:300; font-size:14px; letter-spacing:0.02em; line-height:15px; font-smooth:always; color:white;}
.newera h1 { 	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight:600; font-size:24px; letter-spacing:0.00em; height:32px; line-height:32px; vertical-align:middle; font-smooth:always; text-align:center; color:#FE9900;}
.newera .fully {height:100%;}
.newera .hide {display:none;}
.newera .grid, .newera .row {margin:0px; display:block; height:auto; width:100%; float:left;}

/*** DYNAMO INNER ***/
.infinative #dynamo > .newera {width:1120px; margin:0px 0px 0px -5px;}
.infinative #dynamo > .newera.widget-page {position:relative; min-height:655px; height:auto;}
.infinative #dynamo > .newera.widget-page:after {height:1px; clear:both; display:block; content:"";}

/*** TILE ***/
.newera .widget.wrap {width:300px; height:400px; padding:5px; float:left; margin:0px!important; box-sizing:border-box; -moz-box-sizing:border-box; overflow:visible;}
.newera .widget.primary.wrap {margin-right:0px!important; margin-bottom:0px!important;}
.newera .widget.wrap .icon-con {padding-left:30px; position:relative; height:24px;}
.newera .widget.wrap .icon-con .icon {position:absolute; left:0px; top:0px; width:24px!important; height:24px!important; min-height:24px!important; min-width:24px!important; line-height:24px;}
.newera .widget .tile {width:100%; min-height:100%; float:left; line-height:50px; vertical-align:middle; clear:both; position:relative; background:#2d89ef; box-shadow:inset 0px 0px 1px #FFFFCC; color:#ffffff; overflow:hidden; z-index:10!important; padding:5px 5px 40px 5px; font-smooth:always; color:#ffffff; font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif; margin:0px; box-sizing:border-box; -moz-box-sizing:border-box; font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif; box-sizing:border-box; -moz-box-sizing:border-box; height:40px;}
.newera .widget.moveable .tile, .newera .widget.ui-draggable .tile {cursor:move;}
.newera .widget.ui-draggable .tile .content {cursor:pointer;}
.newera .widget.type-accordion .tile {padding:25px 20px 40px 20px;}
.newera .widget.type-log .tile {padding:30px 25px 40px 25px;}
.newera .widget.brand-none .tile {padding:5px;}
.newera .widget .tile .content {width:100%; height:100%; vertical-align:top; padding:6px 15px 3px 15px; overflow:hidden; text-overflow:ellipsis; font-size:11px; font-smooth:always; line-height:13px; float:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-background-clip:padding-box; -moz-background-clip:padding; background-clip:padding-box;}
.newera .widget#field-list .tile .content {padding:5px;}
.newera .widget.boxes .tile .content {padding-top:10px;}
.newera .widget.type-log .tile .content {padding:0px;}

/** IS SELECTED **/
.newera .widget.is-selected .tile {outline:2px dashed #FCA400;}

/*** STATES ***/
.newera .widget .tile > .state {position:absolute; right:7px; top:7px; height:16px; width:auto; font-size:13px; line-height:16px; vertical-align:middle; font-weight:400;}

/*** BRANDING ***/
.newera .widget .tile > .name, .newera .widget .tile > .icon {position:absolute; bottom:5px; margin:0px; z-index:950; box-sizing:border-box; -moz-box-sizing:border-box;}
.newera .widget .tile .name, .newera.editor .widget #note {left:5px; font-weight:400; font-size:12px; line-height:14px;}
.newera .widget .tile .icon {right:5px; width:30px; height:30px;}
.newera .widget.brand-none {padding-bottom:5px;}
.newera .widget.brand-none .tile > .name, .newera .widget.brand-none .tile > .icon {display:none;}

/*** CHART & LEVEL WIDGET ***/
.newera .widget.type-chart .tile {padding:5px 5px 40px 5px;}
.newera .widget.type-level .tile {padding:40px 20px;}
.newera .widget.type-chart .tile .content, .newera .widget.type-level .tile .content {padding:0px;}
.newera.editor .widget.type-chart .tile .content, .newera.editor .widget.type-level .tile .content {background-color:rgba(184,184,184,1.00); outline:1px dashed #FFAC43; background-size:auto 90%; background-position:center; background-repeat:no-repeat;}
.newera.editor .widget.type-level .tile .content {background-color:transparent; outline:none;}
.newera .widget.type-chart .row, .newera .widget.type-level .row {display:none;}
.newera .widget.type-chart .row .item, .newera .widget.type-level .row .item {padding:0px!important;}
.newera .widget.type-chart .row .item .icon, .newera .widget.type-chart .row .item .label, .newera .widget.type-chart .row .item .msr, .newera .widget.type-level .row .item .icon, .newera .widget.type-level .row .item .label, .newera .widget.type-level .row .item .msr {display:none;}
.newera .widget.type-chart .row .item .icon.x-close {display:block; width:30px!important; height:30px!important; top:10px!important; left:auto!important; right:5px!important;}
.newera .widget.type-chart .row .item .value, .newera .widget.type-level .row .item .value {width:100%; text-align:center; font-size:16px; padding:0px; margin:0px; top:0px; left:0px;}
.newera .widget.type-chart .row:first-child {display:block; height:100%; max-height:100%; padding:0px; margin:0px;}
.newera .widget.type-level .row:first-child {display:block; height:30px; max-height:30px; min-height:30px; width:70%; left:15%; padding:0px; margin:0px; position:absolute; top:104%;}
.newera .widget.type-level.view-pro .row {display:none!important;}

/*** TANK LINNING ***/
.newera .widget.type-level .content {overflow:visible;}
.newera .widget.type-level .row {z-index:9900; outline:1px dashed #FFAC43; border:none; padding:2px;}
.newera .widget.type-level .row:before {content:"\00f7"; font-size:30px; text-align:center; height:100%; line-height:30px; width:100%; vertical-align:middle; display:block;}
.newera .widget.type-level .row .item {width:42%; height:100%; display:none; position:absolute; top:0px; background-color:rgba(15,15,15,.6);}
.newera .widget.type-level .row .sort-handle {display:none;}
.newera .widget.type-level .row .item .sort-handle {display:block!important;}
.newera .widget.type-level .row .item .value {position:absolute!important; top:auto; bottom:4px!important; font-size:13px; text-align:center; height:15px; line-height:15px; vertical-align:middle;}
.newera .widget.type-level .row .item:nth-child(1), .newera .widget.type-level .row .item:nth-child(2) {display:block!important;}
.newera .widget.type-level .row .item:nth-child(2) {right:0px;}
.newera .widget.type-level .row.ui-sortable-helper, .newera .widget.type-level .row.ui-sortable-helper .item, .newera .widget.type-level .place-holder {display:block!important; max-width:110px!important; max-height:24px!important; width:100px!important; height:20px!important;}
.newera .widget.type-level .place-holder {right:auto!important; top:auto!important; left:auto!important; bottom:auto!important; float:right; position:relative!important;}

.newera .widget.type-level .row .item .x-close {width:20px; height:20px; min-width:20px; min-height:20px; max-width:20px; max-height:20px; display:none!important;}
.newera .widget.type-level .row .item:hover .x-close {display:block!important;}
.newera .widget.type-level .tank {background-color:rgba(184,184,184,.2); width:100%; height:100%; margin:0px; position:relative; border:2px solid #FFFFFF; -webkit-border-radius:60px; box-sizing:border-box; -moz-box-sizing:border-box; -moz-border-radius:60px; -ms-border-radius:60px; -o-border-radius:60px; border-radius:60px; -webkit-background-clip:padding-box; -moz-background-clip:padding; background-clip:padding-box; opacity:.8; background-size:contain; background-position:center!important; overflow:hidden; padding:2px;}
.newera .widget.type-level .tank .lining {width:100%; height:100%; background-repeat:no-repeat; background-size:cover; background-position:center; -moz-box-sizing:border-box!important; box-sizing:border-box; -webkit-box-sizing:border-box; display:block; overflow:hidden; -moz-border-radius:52px; -ms-border-radius:52px; -o-border-radius:52px; border-radius:52px; -webkit-background-clip:padding-box; -moz-background-clip:padding; background-clip:padding-box;}
.newera .widget.type-level .level, .newera .widget.type-level .level .level-inner {width:100%; height:100%; position:absolute; bottom:0px; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-sizing:border-box; display:block; overflow:hidden; -webkit-background-clip:padding-box; -moz-background-clip:padding; background-clip:padding-box; overflow:hidden;}
.newera .widget.type-level .level .level-inner {background:rgba(255,255,255,1.00); -moz-box-sizing:content-box; box-sizing:content-box; -webkit-box-sizing:content-box; opacity:.5; -moz-border-radius:3px 3px 0px 0px; -ms-border-radius:3px 3px 0px 0px; -o-border-radius:3px 3px 0px 0px; border-radius:3px 3px 0px 0px; -webkit-background-clip:padding-box; -moz-background-clip:padding; background-clip:padding-box; box-shadow:inset 0px 0px 1px #CCC;}
.newera .widget.type-level.view-edit .level .level-inner {height:47%;}


.newera .widget.type-level .row .item .icon.x-close {display:block; width:25px!important; height:25px!important; top:0px!important; left:auto!important; right:0px!important; margin:0px!important;}

/*** LOG ***/
.newera .widget.type-log .content .head {width:100%; height:20px; line-height:20px; display:block; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-sizing:border-box; padding-right:16px; margin-right:-16px;}
.newera .widget.type-log .content .head > div {padding:2px; border-bottom:1px dashed #FFF; font-size:12px; font-weight:500; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-sizing:border-box;}
.newera .widget.type-log .content .head > .date {width:22%; margin-right:1%;}
.newera .widget.type-log .content .head > .time {width:17%; margin-right:1%; margin-left:1%;}
.newera .widget.type-log .content .head > .event {min-width:61%; margin-left:1%; margin-right:-5%;}
.newera .widget.type-log .content .log-wrap {padding:21px 1px 1px; margin-top:-20px; cursor:pointer;}
.newera .widget.type-log .content .log-wrap, .newera .widget.type-log .content .log-wrap .log-list {width:100%; height:100%!important; min-height:100%!important; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-sizing:border-box;}
.newera .widget.type-log .content .log-wrap .log-list {overflow-y:auto; z-index:900; width:100%; display:block!important; padding:0px;}
.newera .widget.type-log .content .log-wrap .log-list > .row {display:none;}
.newera .widget.type-log .content .log-wrap .log-list .item {width:100%; display:block; margin:0px; padding:5px 1% 5px 55px; min-height:29px; max-height:60px; height:auto; clear:both; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-sizing:border-box;}
.newera .widget.type-log .content .log-wrap .log-list .item .icon {top:5px; left:5px;}
.newera .widget.type-log .content .log-wrap .log-list .item .x-close {right:0px; bottom:0px; left:auto; top:auto;}
.newera .widget.type-log .content .log-wrap .log-list .item { background:rgba(000,000,000,.4);}
.newera .widget.type-log .content .log-wrap .log-list .item:nth-child(even) {background-color:rgba(77,77,77,.4);}
.newera .widget.type-log .content .log-wrap .log-list .item:last-child {border-bottom:none;}
.newera .widget.type-log .editable {border:none; outline:none;}

/* log front */
.newera .widget.type-log .content .log-list div {font-size:12px!important; line-height:13px!important; max-height:39px; vertical-align:middle; color:#F4F4F4; overflow:visible;}
.newera .widget.type-log .content .log-list .date {width:23%; padding-right:1%;}
.newera .widget.type-log .content .log-list .time {width:19%; padding-right:1%; padding-left:1%;}
.newera .widget.type-log .content .log-list .event {width:57%; padding-left:1%; text-overflow:ellipsis;}
.newera .widget.type-log.view-pro .content .log-list .item {float:left; width:100%; min-height:30px; line-height:13px!important; max-height:auto; overflow:hidden; padding:7px 0px!important; border-bottom:1px dashed #76afef; background-color:transparent!important;}
.newera .widget.type-log.view-pro .content .log-list .item:nth-child(even) > div {color:#DDD;}

/* IFRAMES */
.newera .widget .content iframe {overflow:auto; background-color:#fff;}


/* show hide log items */
.newera.type-view-log .widget .not-log {opacity:.6; cursor:not-allowed;}
.newera.editor .widget.type-log .not-log, .newera.type-view-log .widget .not-log .sort-handle {display:none!important;}

/* rows */
.newera .widget .row {width:100%; max-height:70px; overflow:hidden; padding:10px 1px; margin:0px; border-bottom:1px dashed #BEBEBE; box-sizing:border-box; -moz-box-sizing:border-box; position:relative; float:left; background:none;}
.newera .widget .row:last-child {border-bottom:none;}
.newera .widget .row .item {width:100%; float:left; clear:both; box-sizing:border-box; -moz-box-sizing:border-box; position:relative;}
.newera .widget .row .item.icon, .newera .widget .row .item.has-icon {padding-left:60px;}
.newera .widget .row .item .icon {width:40px; height:40px; position:absolute; left:0px; top:0px;}
.newera .widget .row .item .label, .newera.editor .widget .ui-sortable-helper label {float:left; clear:both; width:100%;}
.newera .widget .row .label {font-weight:500; font-size:12px; font-smooth:always; line-height:12px; margin-bottom:2px; white-space:nowrap; margin-bttom:10px;}
.newera .widget .row .value, .newera .widget .row .msr {font-size:14px; font-weight:300; height:19px; letter-spacing:normal; line-height:19px; margin:0px; vertical-align:middle; float:left; width:auto; margin-right:10px;}
.newera .widget .row .src {display:none;}

/* editor */
.newera.editor {min-height:100%; height:auto;}
.infinative .resize-helper {background:#999; border:1px dashed #FFF; opacity:.7;}
.newera.editor .widget.view-edit .editable {outline:dashed #FFAC43 1px; cursor:text; z-index:1111; padding:0px 2px; min-width:5px;}
.newera.editor .widget .editable:hover {cursor:pointer;}
.newera.editor .widget .tile .name, .newera.editor .widget .tile .icon {bottom:5px;}
.newera.editor .widget .tile .name, .newera.editor .widget #note {left:5px;}
.newera.editor .widget .tile .icon {right:5px; background-position:center; min-width:30px; min-height:30px;}
.newera.editor .widget.page-btn .tile {padding:20px;}
.newera.editor .widget.page-btn .tile .icon {min-width:100%!important; min-height:100%!important; width:100%!important; height:100%!important; position:relative!important; top:auto; bottom:auto; left:auto; right:auto;}
.newera.editor .widget.view-edit .tile .icon {background-size:90%;}
.newera.editor .widget.view-edit .editable.text:focus, .newera.editor .widget .editable.text:hover, .newera.editor .widget .tile .icon.editable:hover, .newera.editor .widget .tile .row .editable:hover {background-color:#1600DB; color:#FFF;}
.newera.editor .widget #note {position:absolute; height:22px; width:auto; top:-22px; left:0px; opacity:.2;}
.newera.editor .widget.view-edit .editable:empty:not(:focus):before {content:attr(placeholder); opacity:.8;}
.newera .widget .tile .icon.fullscreen {right:40px; display:none;}
.newera .widget:hover .tile .icon.fullscreen {display:block;}

.newera.editor .widget .ui-resizable-e {position:absolute; right:2px; z-index:901; height:100%; width:8px; z-index:901!important;}
.newera.editor .widget .ui-resizable-s {position:absolute; bottom:2px; z-index:901; width:100%; height:8px; z-index:901!important;}
.newera.editor .widget .ui-resizable-se {position:absolute; right:2px; bottom:2px; background-image:url(images/sizer-handle-white.png); width:16px; height:16px; z-index:905!important; background-repeat:no-repeat; background-size:100%; background-position:center; border-right:1px dashed #FFF; border-bottom:1px dashed #FFF; opacity:.5;}
.newera.editor .widget .ui-resizable-se:focus, .newera.editor .widget .ui-resizable-se:hover {opacity:1;}
.newera.editor .widget .ui-resizable-e:hover {cursor:e-resize;}
.newera.editor .widget .ui-resizable-s:hover {cursor:s-resize;}
.newera.editor .widget .ui-resizable-se:hover {cursor:se-resize;}
.newera.editor .widget #add-field {position:absolute; left:5px; top:0px; z-index:960; height:24px; padding:2px 3px 2px 27px; font-size:11px; text-transform:uppercase; vertical-align:middle; line-height:20px;}
.newera.editor .widget .btn:hover {cursor:pointer;}
.newera.editor .widget .row {min-height:57px; max-height:57px; float:left;}
.newera.editor .widget .row .item {height:100%; float:left; }
.newera.editor .widget .row .item.has-icon {padding-left:54px;}
.newera.editor .widget .row .item .label {margin-bottom:2px; line-height:12px; vertical-align:middle;}
.newera.editor .widget .row .item .icon {width:33px; height:33px;}
.newera.editor .widget .row .item .icon.x-close {width:20px; height:20px; min-width:20px; min-height:20px; position:absolute; left:100%; right:0px; margin:-10px 0px 0px -5px; top:50%; z-index:1111; opacity:.6;}
.newera.editor .widget .row .item .icon.x-close:hover {opacity:1;}

.box-wrap.modal {display:none; z-index:999999; min-width:120px; width:320px; padding:10px 5px 5px 17px;  position:absolute; top:30%; left:50%; transform: translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); background-color:rgba(111,111,111,1.00); border:1px solid #FFF;}
.newera .input-wrap .icon {width:100%; height:100%; position:relative; right:0px; top:0px; left:0px; bottom:0px; background-size:contain; background-repeat:no-repeat; background-position:left;}

/* PAGE EDITOR */
.newera.editor .widget .x-close, .newera.editor .widget .reset-widget, .newera.editor .widget .autosize {width:25px; height:25px; position:absolute; top:10px; display:none; z-index:9999; cursor:pointer;}
.newera.editor .widget .x-close {right:10px;}
.newera.editor .widget .reset-widget {left:10px;}
.newera.editor .widget .autosize {left:45px;}
.newera.editor .widget:hover .x-close, .newera.editor .widget:hover .reset-widget, .newera.editor .widget:hover .autosize {display:block;}

/* EDITOR VIEW */
.newera.editor .widget.view-edit .row {overflow:visible;}
.newera.editor .widget.view-edit .row .item, .newera.editor .widget.view-pro .row .item, .newera.editor .widget.view-edit .row .item .sort-handle {display:none;}
.newera.editor .widget.view-edit.frame-1 .row .item:nth-child(1), .newera .widget.view-pro.frame-1 .row .item:nth-child(1) {display:block;}
.newera.editor .widget.view-edit.frame-2 .row .item:nth-child(2), .newera .widget.view-pro.frame-2 .row .item:nth-child(2) {display:block;}
.newera.editor .widget.view-edit.frame-3 .row .item:nth-child(3), .newera .widget.view-pro.frame-3 .row .item:nth-child(3) {display:block;}
.newera.editor .widget.view-edit.frame-4 .row .item:nth-child(4), .newera .widget.view-pro.frame-4 .row .item:nth-child(4) {display:block;}
.newera.editor .widget.view-edit.frame-5 .row .item:nth-child(5), .newera .widget.view-pro.frame-5 .row .item:nth-child(5) {display:block;}
.newera.editor .widget.view-edit.frame-6 .row .item:nth-child(6), .newera .widget.view-pro.frame-6 .row .item:nth-child(6) {display:block;}

/* TIMELINE */
.newera.editor .widget.view-time .row {height:57px; padding:5px 0px;}
.newera.editor .widget.view-time.frames-1 {width:175px!important;}
.newera.editor .widget.view-time.frames-2 {width:295px!important;}
.newera.editor .widget.view-time.frames-3 {width:420px!important;}
.newera.editor .widget.view-time.frames-4 {width:540px!important;}
.newera.editor .widget.view-time.frames-5 {width:660px!important;}
.newera.editor .widget.view-time.frames-6 {width:780px!important;}

.newera.editor .widget.view-time .row .item {width:120px; height:100%; clear:none!important; margin-right:5px; float:left; position:relative; box-sizing:border-box!important; top:0px; left:0px; border:1px dashed #FFF; padding:2px;}
.newera.editor .widget.view-time .row .item:hover {background-color:rgba(166,166,166,.9);}
.newera.editor .widget.view-time.frames-1 .row .item:nth-child(1) {margin-right:0px;}
.newera.editor .widget.view-time.frames-2 .row .item:nth-child(2) {margin-right:0px;}
.newera.editor .widget.view-time.frames-3 .row .item:nth-child(3) {margin-right:0px;}
.newera.editor .widget.view-time.frames-4 .row .item:nth-child(4) {margin-right:0px;}
.newera.editor .widget.view-time.frames-5 .row .item:nth-child(5) {margin-right:0px;}
.newera.editor .widget.view-time.frames-6 .row .item:nth-child(6) {margin-right:0px;}

.newera.editor .widget.view-time .row .item .editable {z-index:998;}
.newera.editor .widget.view-time .row .item.has-icon {padding-left:0px;}
.newera.editor .widget.view-time .row .item .label {margin-bottom:0px; width:100%; text-align:center; float:left; clear:both;}
.newera.editor .widget.view-time .row .item .icon {width:24px; height:24px; min-width:24px; min-height:24px; top:15px; left:4px; position:absolute;}
.newera.editor .widget.view-time .row .item .x-close {left:85%; top:72%; width:18px; height:18px; min-width:18px; min-height:18px;}
.newera.editor .widget.view-time .row .item .value, .newera.editor .widget.view-time .row .item .msr {display:none;}

.newera.editor .widget .frame-ctrl {display:none;}
.newera.editor .widget.view-edit.type-alert .frame-ctrl {display:block; width:100%; line-height:20px; text-align:center; height:40px; padding:10px 0px;}
.newera.editor .widget.view-edit .frame-ctrl .label {width:100%; line-height:20px; text-align:center; height:20px; z-index:998;}
.newera.editor .widget.view-edit .frame-ctrl .left-arrow, .newera.editor .widget.view-edit .frame-ctrl .right-arrow {position:absolute; left:0px; width:20px; height:20px; z-index:999;}
.newera.editor .widget.view-edit .frame-ctrl .right-arrow {left:auto; right:0px;}

/* PRODUCTION */
.newera.editor .widget.view-pro .row .item .icon.x-close {display:none;}

/* BOXES */
.newera.editor .widget.boxes #settings {position:absolute; right:12px; top:10px; z-index:960; height:24px; padding:2px 27px 2px 3px; font-size:11px; text-transform:uppercase; vertical-align:middle; line-height:20px; background-position:right center; width:20px!important; height:20px!important; min-width:20px; min-height:20px;}
.newera.editor .widget.boxes #add-field {top:7px; left:7px;}
.newera.editor .widget.boxes .tile {padding-top:40px; padding-bottom:60px;}
.newera.editor .widget.boxes .content {position:relative; overflow-y:auto; padding:0px 14px 0px 7px; cursor:pointer;}
.newera.editor .widget.boxes .input-row {padding:7px 0px; margin:0px; border-bottom:1px dashed #DDAB73;}
.newera.editor .widget.boxes .input-row:first-child {padding-top:0px;}
.newera.editor .widget.boxes .input-row.submit-row, .newera.editor .widget.boxes .input-row:last-child {border:none; margin-bottom:0px;}
.newera.editor .widget.boxes .input-row.submit-row {bottom:0px; position:absolute;}
.newera.editor .widget.boxes label .name {position:relative; left:0px; top:0px; font-size:12px; min-height:14px; height:14px; line-height:14px; vertical-align:middle; padding:0px;}
.newera.editor .widget.boxes input[type=text], .newera.editor .widget.boxes input[type=number], .newera.editor .widget.boxes select {padding:3px; min-height:24px;}
.newera.editor .widget.boxes input[type=text]:disabled {min-height:28px; background-color:#EEE!important; opacity:.6;}

/* HELPERS */
.newera.editor .place-holder {background:#1D1D1D; border:#EBEBEB solid 1px; width:100%; height:37px; margin-top:10px;}
.newera.editor .source .place-holder {display:none!important;}
.newera.editor .widget.tank-level .place-holder {display:block!important;}
.newera.editor .widget.view-edit .row.ui-sortable-helper .item, .newera.editor .widget.view-edit .row.ui-sortable-helper .item .sort-handle {display:block;}
.newera.editor .widget.view-edit .row.ui-sortable-helper {max-width:220px; width:auto; min-width:50px; min-height:10px; max-height:70px; height:37px; background:rgba(124,124,124,.5); padding:0px;}
.newera.editor .widget.view-edit .row.ui-sortable-helper .x-close {display:none;}
.newera.editor .widget.view-time .ui-sortable-helper, .newera.editor .widget.view-time .place-holder {width:115px!important; height:50px!important; float:left; margin-top:0px;}

.newera .sort-handle {width:100%!important; height:100%!important; background-color:transparent!important; left:0px!important; top:0px!important; position:absolute!important; z-index:999;}
.newera .row > .sort-handle {z-index:900;}
.newera .sort-handle:hover {cursor:move;}
.newera .widget.view-time .row > .sort-handle, .newera .widget.view-pro .sort-handle {display:none;}

/* icons */
.newera.editor .icons.radio-group {position:absolute; top:20px; right:0px; z-index:9900;}
.newera.editor .icons.radio-group .input-wrap.radio .helper:before, #dynamo .icon-group .input-wrap.radio .helper:before {position: absolute; height:46px; width:46px; border:none;}
.newera.editor .icons.radio-group input:checked~ .helper:after, #dynamo .icon-group input:checked~ .helper:after {position:absolute; z-index:2; font-weight:bold; left:5px; margin-left:0; top:-1px; margin-top:-1px; background:none; width:36px; height:36px; border-radius:0;}
.newera.editor .icons.radio-group .input-wrap.radio, #dynamo .icon-group .input-wrap.radio, .newera.editor .icons.radio-group .input-wrap.radio .helper, #dynamo .icon-group .input-wrap.radio .helper {height:50px; width:50px; padding:2px;}

/* FIELD LIST */
.newera #field-list {position:absolute; top:auto; right:0px; z-index:9900;}
.newera #field-list .temp-ctrl {position:absolute; right:5px; top:5px; max-width:60%; width:auto; height:30px; z-index:9990; padding:5px; overflow:hidden;}
.newera #field-list .temp-ctrl.arrows {padding:5px 30px;}
.newera #field-list .temp-ctrl .temp-wrap {position:relative; float:left; width:100%; height:100%; overflow:hidden;}
.newera #field-list .temp-ctrl .templ-list {height:20px; width:auto; position:relative; float:left;}
.newera #field-list .temp-ctrl .templ-list > .temp-btn {height:20px; line-height:10px; font-size:10px; text-transform:uppercase; padding:5px 7px; float:left; margin:0px 2px; border-radius:2px; background-color:#444; top:0px; position:relative; min-width:56px; width:auto; text-align:center;}
.newera #field-list .temp-ctrl .templ-list > .temp-btn:hover {background-color:rgba(0,76,255,1.00);}
.newera #field-list .temp-ctrl .icon {position:absolute; width:20px; height:20px; bottom:5px; min-width:20px; min-height:20px; display:none;}
.newera #field-list .temp-ctrl.arrows .icon {display:block;}
.newera #field-list .temp-ctrl .left-arrow {left:5px;}
.newera #field-list .temp-ctrl .right-arrow {right:5px;}
.newera #field-list .row {width:100%; margin:0px; padding:0px 5px; min-height:28px; border-bottom:1px dashed #AAA; background:#FFF; float:left; clear:both; line-height:28px; vertical-align:middle;}
.newera #setting-list {position:absolute; bottom:5px; right:5px; z-index:99999;}

.newera.editor #field-list .row.head {background-color:#101010; height:30px;}
.newera.editor #field-list .row.meta.head {background:rgba(116,116,116,1.00); color:#FFF!important;}
.newera.editor .row.meta.head > div {color:#FFF!important;}
.newera.editor #field-list .t-wrap {width:100%; position:relative; overflow-y:auto; float:left; height:auto; clear:both;}
.newera.editor #field-list .t-wrap {cursor:pointer;}
.newera #field-list .row.meta:nth-child(even) {background-color:#EBEBEB;}
.newera #field-list .row.meta > div {width:80px; color:#666; min-height:28px; line-height:28px; vertical-align:middle; display:block;}
.newera #field-list .row.meta > .metakey {width:135px;}
.newera #field-list .row.meta > .type {width:120px;}
.newera #field-list .row.meta > .active {width:70px;}
.newera #field-list .row.meta > .logged {width:86px; background-image:url(images/x.png); background-repeat:no-repeat; background-size:auto 70%; background-position:center; text-align:center;}
.newera #field-list .row.meta > .logged.true {background-image:url(images/check.png);}
.newera #field-list .row.meta.head > .logged {background-image:none;}
.newera #field-list .row.meta > .freq {width:90px;}
.newera #field-list .row div.item, .newera #field-list .row > .item {display:none;}
.newera #field-list .row.meta.btn {background:rgba(88,88,88,1.00); color:#FFF;}
.newera #field-list .row.meta.btn > div {bottom:0px; color:#FFF;}

/* WIDGET LIST */
.newera #field-list.widget-list {padding:0px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.newera #field-list.widget-list .row {height:36px; position:relative; float:left; line-height:100%; vertical-align:middle; background-color:#555; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.newera.editor #field-list.widget-list .row.head {height:33px; line-height:33px;}
.newera #field-list.widget-list .row > div {height:100%; position:relative; float:left; line-height:36px; vertical-align:middle; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; color:#FFF; top:0px; bottom:0px;}
.newera #field-list.widget-list .row .icon {width:36px; background-size:80%;}
.newera #field-list.widget-list .row .name {min-width:120px; width:auto; max-width:240px; float:left;}

/* TYPES */
.newera .widget.primary .head {display:none;}
.newera .widget.type-accordion.view-edit .content, .newera .widget.type-accordion.view-pro .content {overflow-y:auto;}
.newera .widget.type-accordion.view-pro .row, .newera .widget.type-accordion.view-edit .row {min-height:23px; max-height:100%; padding:1px; border:none;}
.newera .widget.type-accordion.view-pro .row .item, .newera .widget.type-accordion.view-edit .row .item {display:block!important; min-height:32px; max-height:50px; height:auto; padding:9px 0px!important; border-bottom:1px dashed #CCC;}
.newera .widget.type-accordion.view-pro .row .item:last-child, .newera .widget.type-accordion.view-edit .row .item:last-child {border:none;}
.newera .widget.type-accordion .row .item .icon {display:none;}
.newera .widget.type-accordion.view-pro .head, .newera .widget.type-accordion.view-edit .head {display:block; width:100%; font-size:13px; font-weight:500; text-transform:uppercase; line-height:21px; vertical-align:middle; text-align:center; padding:2px 0px; margin:5px 0px; color:#CCC; border-top:1px solid #CCC; border-bottom:1px solid #CCC; cursor:pointer; border-radius:3px;}
.newera .widget.type-accordion.view-pro .head:hover {color:#EEE; border-top:1px solid #EEE; border-bottom:1px solid #EEE; background-color:#676767;}

/*** MODAL WINDOW ***/
.infinative .modal-wrap {position:absolute; z-index:999999; top:0; bottom:0; left:0; right:0; padding:50px; background-color:rgba(0,0,0,0.67); box-shadow: inset 0px 0px 1px #FFFFCC;}
.infinative .win-wrap {width:100%; height:100%; padding:3px; position:relative; background-color:#8B8B8B;}
.infinative .win-control {width:100%; height:24px; position:relative;}
.infinative .win-control .icon {width:28px; height:28px; left:1px; top:1px; position:absolute;}
.infinative .win-control .name {max-width:300px; height:26px; left:38px; position:absolute; line-height:26px; vertical-align:middle;}
.infinative .win-control .x-close {background-color:#A20002; background-size:12px; background-position:center; width:36px; height:20px; left:auto; right:0px; position:absolute; border:1px solid #737373; box-shadow: inset 0px 0px 1px #333;}
.infinative .win-control .x-close:hover {cursor:pointer; outline:1px solid #FFF;}
.infinative .win-wrap .win-content {position:absolute; top:38px; right:3px; bottom:3px; left:3px; background-color:#FFF; box-shadow: inset 0px 0px 1px #222;}
.infinative .win-wrap .win-content iframe {overflow:auto;}

/*** GRID ***/
.newera .sh0p1 {width:10px!important;}
.newera .sv0p1 {height:10px!important;}
.newera .sh0p2 {width:20px!important;}
.newera .sv0p2 {height:20px!important;}
.newera .sh0p3 {width:30px!important;}
.newera .sv0p3 {height:30px!important;}
.newera .sh0p4 {width:40px!important;}
.newera .sv0p4 {height:40px!important;}
.newera .sh0p5 {width:50px!important;}
.newera .sv0p5 {height:50px!important;}
.newera .sh0p6 {width:60px!important;}
.newera .sv0p6 {height:60px!important;}
.newera .sh0p7 {width:70px!important;}
.newera .sv0p7 {height:70px!important;}
.newera .sh0p8 {width:80px!important;}
.newera .sv0p8 {height:80px!important;}
.newera .sh0p9 {width:90px!important;}
.newera .sv0p9 {height:90px!important;}

.newera .sh1, .newera .sh1p0 {width:100px!important;}
.newera .sv1, .newera .sv1p0 {height:100px!important;}
.newera .sh1p1 {width:110px!important;}
.newera .sv1p1 {height:110px!important;}
.newera .sh1p2 {width:120px!important;}
.newera .sv1p2 {height:120px!important;}
.newera .sh1p3 {width:130px!important;}
.newera .sv1p3 {height:130px!important;}
.newera .sh1p4 {width:140px!important;}
.newera .sv1p4 {height:140px!important;}
.newera .sh1p5 {width:150px!important;}
.newera .sv1p5 {height:150px!important;}
.newera .sh1p6 {width:160px!important;}
.newera .sv1p6 {height:160px!important;}
.newera .sh1p7 {width:170px!important;}
.newera .sv1p7 {height:170px!important;}
.newera .sh1p8 {width:180px!important;}
.newera .sv1p8 {height:180px!important;}
.newera .sh1p9 {width:190px!important;}
.newera .sv1p9 {height:190px!important;}

.newera .sh2, .newera .sh2p0 {width:200px!important;}
.newera .sv2, .newera .sv2p0 {height:200px!important;}
.newera .sh2p1 {width:210px!important;}
.newera .sv2p1 {height:210px!important;}
.newera .sh2p2 {width:220px!important;}
.newera .sv2p2 {height:220px!important;}
.newera .sh2p3 {width:230px!important;}
.newera .sv2p3 {height:230px!important;}
.newera .sh2p4 {width:240px!important;}
.newera .sv2p4 {height:240px!important;}
.newera .sh2p5 {width:250px!important;}
.newera .sv2p5 {height:250px!important;}
.newera .sh2p6 {width:260px!important;}
.newera .sv2p6 {height:260px!important;}
.newera .sh2p7 {width:270px!important;}
.newera .sv2p7 {height:270px!important;}
.newera .sh2p8 {width:280px!important;}
.newera .sv2p8 {height:280px!important;}
.newera .sh2p9 {width:290px!important;}
.newera .sv2p9 {height:290px!important;}

.newera .sh3, .newera .sh3p0 {width:300px!important;}
.newera .sv3, .newera .sv3p0 {height:300px!important;}
.newera .sh3p1 {width:310px!important;}
.newera .sv3p1 {height:310px!important;}
.newera .sh3p2 {width:320px!important;}
.newera .sv3p2 {height:320px!important;}
.newera .sh3p3 {width:330px!important;}
.newera .sv3p3 {height:330px!important;}
.newera .sh3p4 {width:340px!important;}
.newera .sv3p4 {height:340px!important;}
.newera .sh3p5 {width:350px!important;}
.newera .sv3p5 {height:350px!important;}
.newera .sh3p6 {width:360px!important;}
.newera .sv3p6 {height:360px!important;}
.newera .sh3p7 {width:370px!important;}
.newera .sv3p7 {height:370px!important;}
.newera .sh3p8 {width:380px!important;}
.newera .sv3p8 {height:380px!important;}
.newera .sh3p9 {width:390px!important;}
.newera .sv3p9 {height:390px!important;}

.newera .sh4, .newera .sh4p0 {width:400px!important;}
.newera .sv4, .newera .sv4p0 {height:400px!important;}
.newera .sh4p1 {width:410px!important;}
.newera .sv4p1 {height:410px!important;}
.newera .sh4p2 {width:420px!important;}
.newera .sv4p2 {height:420px!important;}
.newera .sh4p3 {width:430px!important;}
.newera .sv4p3 {height:430px!important;}
.newera .sh4p4 {width:440px!important;}
.newera .sv4p4 {height:440px!important;}
.newera .sh4p5 {width:450px!important;}
.newera .sv4p5 {height:450px!important;}
.newera .sh4p6 {width:460px!important;}
.newera .sv4p6 {height:460px!important;}
.newera .sh4p7 {width:470px!important;}
.newera .sv4p7 {height:470px!important;}
.newera .sh4p8 {width:480px!important;}
.newera .sv4p8 {height:480px!important;}
.newera .sh4p9 {width:490px!important;}
.newera .sv4p9 {height:490px!important;}

.newera .sh5, .newera .sh5p0 {width:500px!important;}
.newera .sv5, .newera .sv5p0 {height:500px!important;}
.newera .sh5p1 {width:510px!important;}
.newera .sv5p1 {height:510px!important;}
.newera .sh5p2 {width:520px!important;}
.newera .sv5p2 {height:520px!important;}
.newera .sh5p3 {width:530px!important;}
.newera .sv5p3 {height:530px!important;}
.newera .sh5p4 {width:540px!important;}
.newera .sv5p4 {height:540px!important;}
.newera .sh5p5 {width:550px!important;}
.newera .sv5p5 {height:550px!important;}
.newera .sh5p6 {width:560px!important;}
.newera .sv5p6 {height:560px!important;}
.newera .sh5p7 {width:570px!important;}
.newera .sv5p7 {height:570px!important;}
.newera .sh5p8 {width:580px!important;}
.newera .sv5p8 {height:580px!important;}
.newera .sh5p9 {width:590px!important;}
.newera .sv5p9 {height:590px!important;}

.newera .sh6, .newera .sh6p0 {width:600px!important;}
.newera .sv6, .newera .sv6p0 {height:600px!important;}
.newera .sh6p1 {width:610px!important;}
.newera .sv6p1 {height:610px!important;}
.newera .sh6p2 {width:620px!important;}
.newera .sv6p2 {height:620px!important;}
.newera .sh6p3 {width:630px!important;}
.newera .sv6p3 {height:630px!important;}
.newera .sh6p4 {width:640px!important;}
.newera .sv6p4 {height:640px!important;}
.newera .sh6p5 {width:650px!important;}
.newera .sv6p5 {height:650px!important;}
.newera .sh6p6 {width:660px!important;}
.newera .sv6p6 {height:660px!important;}
.newera .sh6p7 {width:670px!important;}
.newera .sv6p7 {height:670px!important;}
.newera .sh6p8 {width:680px!important;}
.newera .sv6p8 {height:680px!important;}
.newera .sh6p9 {width:690px!important;}
.newera .sv6p9 {height:690px!important;}

.newera .sh7, .newera .sh7p0 {width:700px!important;}
.newera .sv7, .newera .sv7p0 {height:700px!important;}
.newera .sh7p1 {width:710px!important;}
.newera .sv7p1 {height:710px!important;}
.newera .sh7p2 {width:720px!important;}
.newera .sv7p2 {height:720px!important;}
.newera .sh7p3 {width:730px!important;}
.newera .sv7p3 {height:730px!important;}
.newera .sh7p4 {width:740px!important;}
.newera .sv7p4 {height:740px!important;}
.newera .sh7p5 {width:750px!important;}
.newera .sv7p5 {height:750px!important;}
.newera .sh7p6 {width:760px!important;}
.newera .sv7p6 {height:760px!important;}
.newera .sh7p7 {width:770px!important;}
.newera .sv7p7 {height:770px!important;}
.newera .sh7p8 {width:780px!important;}
.newera .sv7p8 {height:780px!important;}
.newera .sh7p9 {width:790px!important;}
.newera .sv7p9 {height:790px!important;}

.newera .sh8, .newera .sh8p0 {width:800px!important;}
.newera .sv8, .newera .sv8p0 {height:800px!important;}
.newera .sh8p1 {width:810px!important;}
.newera .sv8p1 {height:810px!important;}
.newera .sh8p2 {width:820px!important;}
.newera .sv8p2 {height:820px!important;}
.newera .sh8p3 {width:830px!important;}
.newera .sv8p3 {height:830px!important;}
.newera .sh8p4 {width:840px!important;}
.newera .sv8p4 {height:840px!important;}
.newera .sh8p5 {width:850px!important;}
.newera .sv8p5 {height:850px!important;}
.newera .sh8p6 {width:860px!important;}
.newera .sv8p6 {height:860px!important;}
.newera .sh8p7 {width:870px!important;}
.newera .sv8p7 {height:870px!important;}
.newera .sh8p8 {width:880px!important;}
.newera .sv8p8 {height:880px!important;}
.newera .sh8p9 {width:890px!important;}
.newera .sv8p9 {height:890px!important;}

.newera .sh9, .newera .sh9p0 {width:900px!important;}
.newera .sv9, .newera .sv9p0 {height:900px!important;}
.newera .sh9p1 {width:910px!important;}
.newera .sv9p1 {height:910px!important;}
.newera .sh9p2 {width:920px!important;}
.newera .sv9p2 {height:920px!important;}
.newera .sh9p3 {width:930px!important;}
.newera .sv9p3 {height:930px!important;}
.newera .sh9p4 {width:940px!important;}
.newera .sv9p4 {height:940px!important;}
.newera .sh9p5 {width:950px!important;}
.newera .sv9p5 {height:950px!important;}
.newera .sh9p6 {width:960px!important;}
.newera .sv9p6 {height:960px!important;}
.newera .sh9p7 {width:970px!important;}
.newera .sv9p7 {height:970px!important;}
.newera .sh9p8 {width:980px!important;}
.newera .sv9p8 {height:980px!important;}
.newera .sh9p9 {width:990px!important;}
.newera .sv9p9 {height:990px!important;}

.newera .sh10, .newera .sh10p0 {width:1000px!important;}
.newera .sv10, .newera .sv10p0 {height:1000px!important;}
.newera .sh10p1 {width:1010px!important;}
.newera .sv10p1 {height:1010px!important;}
.newera .sh10p2 {width:1020px!important;}
.newera .sv10p2 {height:1020px!important;}
.newera .sh10p3 {width:1030px!important;}
.newera .sv10p3 {height:1030px!important;}
.newera .sh10p4 {width:1040px!important;}
.newera .sv10p4 {height:1040px!important;}
.newera .sh10p5 {width:1050px!important;}
.newera .sv10p5 {height:1050px!important;}
.newera .sh10p6 {width:1060px!important;}
.newera .sv10p6 {height:1060px!important;}
.newera .sh10p7 {width:1070px!important;}
.newera .sv10p7 {height:1070px!important;}
.newera .sh10p8 {width:1080px!important;}
.newera .sv10p8 {height:1080px!important;}
.newera .sh10p9 {width:1090px!important;}
.newera .sv10p9 {height:1090px!important;}

.newera .sh11, .newera .sh11p0 {width:1100px!important;}
.newera .sv11, .newera .sv11p0 {height:1100px!important;}
.newera .sh11p1 {width:1110px!important;}
.newera .sv11p1 {height:1110px!important;}
.newera .sh11p2 {width:1120px!important;}
.newera .sv11p2 {height:1120px!important;}
.newera .sh11p3 {width:1130px!important;}
.newera .sv11p3 {height:1130px!important;}
.newera .sh11p4 {width:1140px!important;}
.newera .sv11p4 {height:1140px!important;}
.newera .sh11p5 {width:1150px!important;}
.newera .sv11p5 {height:1150px!important;}
.newera .sh11p6 {width:1160px!important;}
.newera .sv11p6 {height:1160px!important;}
.newera .sh11p7 {width:1170px!important;}
.newera .sv11p7 {height:1170px!important;}
.newera .sh11p8 {width:1180px!important;}
.newera .sv11p8 {height:1180px!important;}
.newera .sh11p9 {width:1190px!important;}
.newera .sv11p9 {height:1190px!important;}

.newera .sh12, .newera .sh12p0 {width:1200px!important;}
.newera .sv12, .newera .sv12p0 {height:1200px!important;}
.newera .sh12p1 {width:1210px!important;}
.newera .sv12p1 {height:1210px!important;}
.newera .sh12p2 {width:1220px!important;}
.newera .sv12p2 {height:1220px!important;}
.newera .sh12p3 {width:1230px!important;}
.newera .sv12p3 {height:1230px!important;}
.newera .sh12p4 {width:1240px!important;}
.newera .sv12p4 {height:1240px!important;}
.newera .sh12p5 {width:1250px!important;}
.newera .sv12p5 {height:1250px!important;}
.newera .sh12p6 {width:1260px!important;}
.newera .sv12p6 {height:1260px!important;}
.newera .sh12p7 {width:1270px!important;}
.newera .sv12p7 {height:1270px!important;}
.newera .sh12p8 {width:1280px!important;}
.newera .sv12p8 {height:1280px!important;}
.newera .sh12p9 {width:1290px!important;}
.newera .sv12p9 {height:1290px!important;}

.newera [class*="sh"] {float:left; min-height:1px; padding:5px; *zoom:1; overflow:hidden; box-sizing:border-box; -moz-box-sizing:border-box; }
.newera [class*="sh"]:before, .newera [class*="sh"]:after {display:table; content:"";}
.newera [class*="sh"]:after {clear:both;}
.newera [class*="sh"]:last-child {margin-right:0;}
.newera [class*="sh"] > img {max-width:100%; height:auto;}

.newera .skip0p1 {margin-left:10px;}
.newera .skip0p2 {margin-left:20px;}
.newera .skip0p3 {margin-left:30px;}
.newera .skip0p4 {margin-left:40px;}
.newera .skip0p5 {margin-left:50px;}
.newera .skip0p6 {margin-left:60px;}
.newera .skip0p7 {margin-left:70px;}
.newera .skip0p8 {margin-left:80px;}
.newera .skip0p9 {margin-left:90px;}

.newera .skip1, .newera .skip1p0 {margin-left:100px;}
.newera .skip1p1 {margin-left:110px;}
.newera .skip1p2 {margin-left:120px;}
.newera .skip1p3 {margin-left:130px;}
.newera .skip1p4 {margin-left:140px;}
.newera .skip1p5 {margin-left:150px;}
.newera .skip1p6 {margin-left:160px;}
.newera .skip1p7 {margin-left:170px;}
.newera .skip1p8 {margin-left:180px;}
.newera .skip1p9 {margin-left:190px;}

.newera .skip2, .newera .skip2p0 {margin-left:200px;}
.newera .skip2p1 {margin-left:210px;}
.newera .skip2p2 {margin-left:220px;}
.newera .skip2p3 {margin-left:230px;}
.newera .skip2p4 {margin-left:240px;}
.newera .skip2p5 {margin-left:250px;}
.newera .skip2p6 {margin-left:260px;}
.newera .skip2p7 {margin-left:270px;}
.newera .skip2p8 {margin-left:280px;}
.newera .skip2p9 {margin-left:290px;}

.newera .skip3, .newera .skip3p0 {margin-left:300px;}
.newera .skip3p1 {margin-left:310px;}
.newera .skip3p2 {margin-left:320px;}
.newera .skip3p3 {margin-left:330px;}
.newera .skip3p4 {margin-left:340px;}
.newera .skip3p5 {margin-left:350px;}
.newera .skip3p6 {margin-left:360px;}
.newera .skip3p7 {margin-left:370px;}
.newera .skip3p8 {margin-left:380px;}
.newera .skip3p9 {margin-left:390px;}

.newera .skip4, .newera .skip4p0 {margin-left:400px;}
.newera .skip4p1 {margin-left:410px;}
.newera .skip4p2 {margin-left:420px;}
.newera .skip4p3 {margin-left:430px;}
.newera .skip4p4 {margin-left:440px;}
.newera .skip4p5 {margin-left:450px;}
.newera .skip4p6 {margin-left:460px;}
.newera .skip4p7 {margin-left:470px;}
.newera .skip4p8 {margin-left:480px;}
.newera .skip4p9 {margin-left:490px;}

.newera .skip5, .newera .skip5p0 {margin-left:500px;}
.newera .skip5p1 {margin-left:510px;}
.newera .skip5p2 {margin-left:520px;}
.newera .skip5p3 {margin-left:530px;}
.newera .skip5p4 {margin-left:540px;}
.newera .skip5p5 {margin-left:550px;}
.newera .skip5p6 {margin-left:560px;}
.newera .skip5p7 {margin-left:570px;}
.newera .skip5p8 {margin-left:580px;}
.newera .skip5p9 {margin-left:590px;}

.newera .jump1 {margin-top:10px!important;}
.newera .jump2 {margin-top:20px!important;}
.newera .jump3 {margin-top:30px!important;}
.newera .jump4 {margin-top:40px!important;}
.newera .jump5 {margin-top:50px!important;}
.newera .jump6 {margin-top:60px!important;}
.newera .jump7 {margin-top:70px!important;}
.newera .jump8 {margin-top:80px!important;}
.newera .jump9 {margin-top:90px!important;}
.newera .jump10 {margin-top:100px!important;}
.newera .jump11 {margin-top:110px!important;}
.newera .jump12 {margin-top:120px!important;}

.newera .sitRight {float:right!important;}
.newera .sitLeft {float:left!important;}

/***** COLUMNED TILES *****/
.newera .xp1 {width:100%!important;}
.newera .yp1 {height:100%!important;}
.newera .xp2 {width:50%!important;}
.newera .yp2 {height:50%!important;}
.newera .xp3 {width:33.333333333%!important;}
.newera .yp3 {height:33.333333333%!important;}
.newera .xp4 {width:25%!important;}
.newera .yp4 {height:25%!important;}
.newera .xp5 {width:20%!important;}
.newera .yp5 {height:20%!important;}
.newera .xp6 {width:16.666666666%!important;}
.newera .yp6 {height:16.666666666%!important;}
.newera .xp7 {width:14.28571428571429%!important;}
.newera .yp7 {height:14.28571428571429%!important;}
.newera .xp8 {width:12.5%!important;}
.newera .yp8 {height:12.5%!important;}
.newera .xp9 {width:11.111111111%!important;}
.newera .yp9 {height:11.111111111%!important;}
.newera .xp10 {width:10%!important;}
.newera .yp10 {height:10%!important;}
.newera .xp11 {width:9.0909091%!important;}
.newera .yp11 {height:9.0909091%!important;}
.newera .xp12 {width:8.333333333%!important;}
.newera .yp12 {height:8.333333333%!important;}
.newera .xp13 {width:7.692307692307692%!important;}
.newera .yp13 {height:7.692307692307692%!important;}
.newera .xp14 {width:7.142857142857143%!important;}
.newera .yp14 {height:7.142857142857143%!important;}
.newera .xp15 {width:6.666666666666667%!important;}
.newera .yp15 {height:6.666666666666667%!important;}
.newera .xp16 {width:6.25%!important;}
.newera .yp16 {height:6.25%!important;}
.newera .xp17 {width:5.882352941176471%!important;}
.newera .yp17 {height:5.882352941176471%!important;}
.newera .xp18 {width:6.25%!important;}
.newera .yp18 {height:6.25%!important;}
.newera .xp19 {width:5.263157894736842%!important;}
.newera .yp19 {height:5.263157894736842%!important;}
.newera .xp20 {width:5%!important;}
.newera .yp20 {height:5%!important;}





.newera [class*="xp"] {min-height:100px;}
/***** COLORS *****/
.newera .black {color:#000!important;}
.newera .dark {color:#131313!important;}
.newera .medium {color:#282828!important;}
.newera .light {color:#BEBEBE!important;}
.newera .blue {color:#00A7D1!important;}
.newera .orange {color:#FE9900!important;}
.newera .purple {color:#6414CC!important;}
.newera .green {color:#87d709!important;}

.newera .black.back {background:#000!important;}
.newera .dark.back {background:#131313!important;}
.newera .medium.back {background:#282828!important;}
.newera .light.back {background:#BEBEBE!important;}
.newera .blue.back {background:#00A7D1!important;}
.newera .orange.back {background:#FE9900!important;}
.newera .purple.back {background:#6414CC!important;}
.newera .green.back {background:#87d709!important;}

.newera .opaque {background:none!important; outline:none!important; outline-color:transparent!important; border:none!important; box-shadow:none!important;}